h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #FFF;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #4b4b4bf8;
  text-shadow: 3px 3px 1px black;
}

.homecontainer {
  background-color: #646464;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 300px ;
}

.container__class {
  background-color: #646464;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 320px;
  height: 600px;
  margin-top: 100px;
  border: 3px solid black;
  padding: 10px 2%;
}

.homeh1 {
  text-align: center;
  color: #FFF;
  text-shadow: 3px 3px 1px black;
}

.homeh3 {
  text-align: center;
}

.homebutton {
  background-color: grey;
  width: 200px;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid black;
  color: white;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  background-color: #24252a;
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  text-align: center;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 5px 30px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

form{
text-align: center;
}

.h2__main{
  font-size: 56px;
  text-align: center;
}

.about__container{
  background-color: rgb(119, 119, 119);
  padding: 10px 100px;
  display: grid;
  align-items: center; 
  grid-template-columns: 14fr 1fr 1fr;
  column-gap: 5px;
  font-weight: 400;
  color: #FFF;
}

.about__container2{
  background-color: rgb(255, 255, 255);
  padding: 20px 100px;
  display: grid;
  align-items: center; 
  grid-template-columns: 50fr 40fr 14fr;
  column-gap: 30px;
  font-weight: 400;
  text-overflow: clip;
  color: #000000;
}

.about__container3{
  background-color: rgb(119, 119, 119);
  padding: 10px 100px;
  display: grid;
  align-items: center; 
  grid-template-columns: 14fr 1fr 1fr;
  column-gap: 5px;
  font-weight: 400;
  font-size: 16px;
  color: #FFF;
}

.atu__image{
  max-width: 100%;
  max-height: 100%;
}

.atu__image2{
  max-width: 100%;
  max-height: 100%;
}

.atu__image3{
  max-width: 100%;
  max-height: 100%;
}